.grid-container 
{
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 5px;
    padding:20px;
}

.grid-container > div {
    border: 1px solid black;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}
.header-nav
{
    background-color: #01578a;
}
.header-nav a
{
    text-decoration: none;
    color:white;
}
.marquee{
    grid-column: 1/6;
    background-color: lightyellow;
    margin:20px;
    padding:8px;
}
.login{
 
    grid-column: 1/2;
}
.news
{
    grid-column:2/4;
}
.ql
{
    grid-column: 4/6;
}
.faq
{
    grid-column: 4/6;
}
