.header{
    display:grid;
    grid-template-columns: auto 140px 140px 140px 140px;
    grid-column-gap: 5px;
    padding:20px;
}
.header-nav{
    border: 2px solid black;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    background-color:#01578a;
    
}
.header-nav a{
    text-decoration: none;
    color:white;
}
.marquee{
    background-color: lightyellow;
    margin: 20px;
    padding:8px;
}
.Login{
    display: grid;
    grid-template-columns: auto auto auto;
}
